---
layout: default
title: CMCourse Book Chapters
---

<!-- masthead -->
<div class="masthead" id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Understanding Electronic Circuits and Circuit Design
          <p class="lead">&copy; 2015 Chathan M. Cooke</p>
        </h1>
        <h5>(Draft, v0.6: Solely for Use by My Students)</h5>
      </div>
    </div>
  </div>
</div>

<!-- main content -->
<div class="container">

<div class="row">
  
  <!-- chapter index -->
  <div class="col-md-3">
    <div class="sidebar" role="complementary">
      <ul class="nav sidenav" data-spy="affix" data-offset-top="160">
        <li>
          <a href="#chapter1">Chapter-1 What is a Circuit?</a>
          <ul class="nav">
            <li><a href="#chapter1-purpose">The Purpose of Circuits</a></li>
            <li><a href="#chapter1-structure">The Structure of Electric Circuits</a></li>
            <li><a href="#chapter1-complexity">Complexity of Electric Circuits and Constraints</a></li>
            <li><a href="#chapter1-constraint">Constraint-Based Problems and Variables</a></li>
            <li><a href="#chapter1-circuits">Circuits as Constraint-Based Problems with Two Variables</a></li>
            <li><a href="#chapter1-definitions">Definitions for Voltage and Current</a></li>
            <li><a href="#chapter1-types">Types of Circuit Constraints</a></li>
            <li><a href="#chapter1-conclusion">Conclusion</a></li>
          </ul>
        </li>
        <li>
          <a href="#chapter2">Chapter-2 Circuit Element Constraints; 'Rule 1'</a>
          <ul class="nav">
            <li><a href="#chapter2-volt-constraint">Fixed Voltage Source Constraint, ('Source' Circuit Element)</a></li>
            <li><a href="#chapter2-element-conventions">Circuit Element Conventions</a></li>
            <li><a href="#chapter2-element-power">Power in Circuit Elements</a></li>
            <li><a href="#chapter2-element-resistor">The Resistor Element, (a 'Load' Type Circuit Element)</a></li>
            <li><a href="#chapter2-element-current">The Fixed Current Source, (a 'Source' Type Circuit Element)</a></li>
            <li><a href="#chapter2-element-constitutive">Element Constitutive (Constraint) Relations</a></li>
            <li><a href="#chapter2-element-conclusions">Conclusions</a></li>
          </ul>
        </li>
        <li>
          <a href="#chapter3">Chapter-3 Circuit Connection Constraints; 'Rule 2'</a>
          <ul class="nav">
            <li><a href="#chapter3-KCL">Kirchoff's Current Law</a></li>
            <li><a href="#chapter3-KVL">Kirchoff's Voltage Law</a></li>
            <li><a href="#chapter3-power-law">Circuit Power Constraint</a></li>
            <li><a href="#chapter3-contradiction">Constraint Conflicts</a></li>
            <li><a href="#chapter3-conclusion">Conclusion</a></li>
          </ul>
        </li>
        <li>
          <a href="#chapter4">Chapter-4 General and Node-Voltage Methods for Analyzing Circuits</a>
          <ul class="nav">
            <li><a href="#chapter4-general-soln">General Method of Solution</a></li>
            <li><a href="#chapter4-example-5elements">4.2 Numerical Example, 5-Element Circuit</a></li>
            <li><a href="#chapter4-node-method">The 'Node Voltage Method'</a></li>
            <li><a href="#chapter4-mesh-method">The 'Mesh Loop Method'</a></li>
          </ul>
        </li>
        <li>
          <a href="#chapter5">Chapter-5 Special Circuit Topology Configurations</a>
          <ul class="nav">
            <li><a href="#chapter5-series-connection">Series Connection: Single-Loop Restriction</a></li>
            <li><a href="#chapter5-voltage-divider">Voltage Divider, Example Series Connection</a></li>
            <li><a href="#chapter5-parallel-connection">Parallel Connection: Single-Node-Pair Restriction</a></li>
            <li><a href="#chapter5-current-divider">Current Divider, Example Parallel Connection</a></li>
            <li><a href="#chapter5-conclusion">Conclusion</a></li>
          </ul>
        </li>
        <li>
          <a href="#chapter6">Chapter-6 Resistor Equivalents, Circuit Reduction</a>
          <ul class="nav">
            <li><a href="#chapter6-equivalence-series">Series Equivalent Resistors: Single-Loop</a></li>
            <li><a href="#chapter6-equivalence-parallel">Parallel Equivalent Resistors: Single-Node-Pair</a></li>
            <li><a href="#chapter6-equivalence-series-parallel">Series-Parallel Equivalent Resistors: Two Resistors</a></li>
            <li><a href="#chapter6-circuit-reductions">Circuit Reduction by Resistor Equivalents</a></li>
            <li><a href="#chapter6-voltage-divider">Example Equivalents and Voltage-Dividers</a></li>
          </ul>
        </li>
        <li>
          <a href="#chapter7">Chapter-7 Power in Resistive Circuits</a>
          <ul class="nav">
            <li><a href="#chapter7-uniform-power">Uniform Power Over Multiple Resistors</a></li>
            <li><a href="#chapter7-two-resistor">Example: Two Resistor Uniform Heating</a></li>
            <li><a href="#chapter7-four-resistor">Example: Four Resistor Equal Heating</a></li>
            <li><a href="#chapter7-2nd-four-resistor">2nd Example: Four Resistor Equal Heating</a></li>
            <li><a href="#chapter7-max-power-xfer">Maximum Power Transfer</a></li>
          </ul>
        </li>
        <li>
          <a href="#chapter8">Chapter-8 Resistive Attenuators, Ladders, Transformations</a>
          <ul class="nav">
            <li><a href="#chapter8-signal-attenuator">Signal Attenuators</a></li>
            <li><a href="#chapter8-ladder-networks">Ladder Networks</a></li>
            <li><a href="#chapter8-mesh-networks">Symmetric Mesh Networks</a></li>
            <li><a href="#chapter8-delta-wye">Transformations, 'Delta-Wye'  $\Delta$-Y); Bridge Circuits</a></li>
          </ul>
        </li>
        <li>
          <a href="#chapter9">Chapter-9 Linearity</a>
          <ul class="nav">
            <li><a href="#chapter9-linearity">System Linearity</a></li>
            <li><a href="#chapter9-superposition">Superposition Method</a></li>
            <li><a href="#chapter9-thevenin">Thevenin's Theorem</a></li>
            <li><a href="#chapter9-norton">Norton's Theorem</a></li>
          </ul>
        </li>
        <li>
          <a href="#chapter10">Chapter-10 Dependent Sources and Operation Amplifiers</a>
          <ul class="nav">
            <li><a href="#chapter10-control-terminals">Circuit Elements with Control Terminals</a></li>
            <li><a href="#chapter10-dependent-sources">Dependent Voltage and Dependent Current Sources</a></li>
            <li><a href="#chapter10-fixed-gain">Dependent Source Fixed Gain Amplifier</a></li>
          </ul>
            <li><a href="#chapter10-control-teminals">Circuit Elements with Control Terminals</a></li>
            <li><a href="#chapter10-dependent-sources">Dependent Voltage and Dependent Current Sources</a></li>
            <li><a href="#chapter10-fixed-gain">Dependent Source Fixed Gain Amplifier</a></li>
            <li><a href="#chapter10-opamp-element">Operational Amplifier Circuit Elements</a></li>
            <li><a href="#chapter10-noninvert-opamp">Example: Opamp Circuit, the Non-Inverting Amplifier</a></li>
            <li><a href="#chapter10-noninvert-load)">Example: A Non-Inverting Amplifier with Source and Load</a></li>
            <li><a href="#chapter10-invert-opamp)">Example: Opamp Circuit, the Inverting Amplifier</a></li>
          </ul>
		</li>
      </ul>
    </div>
  </div> <!-- /chapter index -->
  
  <!-- book -->
  <div class="col-md-9">
    
    <!-- chapter 1 -->
    <div class="chapter">
      <a class="anchor" id="chapter1"></a>
      <h2>Chapter 1: What is a Circuit?</h2>
      {% capture include_to_textilize1 %}
      {% include chapter1.textile %}
      {% endcapture %}
      {{ include_to_textilize1 | textilize }}
    </div>
    
    <!-- chapter 2 -->
    <div class="chapter">
      <a class="anchor" id="chapter2"></a>
      <h2>Chapter 2: Circuit Element Constraints; 'Rule 1'</h2>
      {% capture include_to_textilize2 %}
      {% include chapter2.textile %}
      {% endcapture %}
      {{ include_to_textilize2 | textilize }}
    </div>
    
    <!-- chapter 3 -->
    <div class="chapter">
      <a class="anchor" id="chapter3"></a>
      <h2>Chapter 3: Circuit Connection Constraints; 'Rule 2'</h2>
      {% capture include_to_textilize3 %}
      {% include chapter3.textile %}
      {% endcapture %}
      {{ include_to_textilize3 | textilize }}
    </div>
    
    <!-- chapter 4 -->
    <div class="chapter">
      <a class="anchor" id="chapter4"></a>
      <h2>Chapter 4: General and Node-Voltage Methods for Analyzing Circuits</h2>
      {% capture include_to_textilize4 %}
      {% include chapter4.textile %}
      {% endcapture %}
      {{ include_to_textilize4 | textilize }}
    </div>
    
    <!-- chapter 5-->
    <div class="chapter">
      <a class="anchor" id="chapter5"></a>
      <h2>Chapter 5: Special Circuit Topologies</h2>
      {% capture include_to_textilize5 %}
      {% include chapter5.textile %}
      {% endcapture %}
      {{ include_to_textilize5 | textilize }}
    </div>  
    
    <!-- chapter 6 -->
    <div class="chapter">
      <a class="anchor" id="chapter6"></a>
      <h2>Chapter 6: Resistor Equivalents, Circuit Reduction</h2>
      {% capture include_to_textilize6 %}
      {% include chapter6.textile %}
      {% endcapture %}
      {{ include_to_textilize6 | textilize }}
    </div>  
    
    <!-- chapter 7 -->
    <div class="chapter">
      <a class="anchor" id="chapter7"></a>
      <h2>Chapter 7: Power in Resistive Circuits</h2>
      {% capture include_to_textilize7 %}
      {% include chapter7.textile %}
      {% endcapture %}
      {{ include_to_textilize7 | textilize }}
    </div>  
    
    <!-- chapter 8 -->
    <div class="chapter">
      <a class="anchor" id="chapter8"></a>
      <h2>Chapter 8: Resistive Attenuators, Ladders, Transformations</h2>
      {% capture include_to_textilize8 %}
      {% include chapter8.textile %}
      {% endcapture %}
      {{ include_to_textilize8 | textilize }}
    </div>  

    <!-- chapter 9 -->
    <div class="chapter">
      <h2 id="chapter9">Chapter 9: Linearity, Superposition, Circuit Equivalents (Thevenin and Norton)</h2>
      {% capture include_to_textilize9 %}
      {% include chapter9.textile %}
      {% endcapture %}
      {{ include_to_textilize9 | textilize }}
    </div>  

    <!-- chapter 10 -->
    <div class="chapter">
      <h2 id="chapter10">Chapter 10: Dependent Sources and Operation Amplifiers</h2>
      {% capture include_to_textilize10 %}
      {% include chapter10.textile %}
      {% endcapture %}
      {{ include_to_textilize10 | textilize }}
    </div>  
		
  </div> <!-- /book -->

</div>
