---
layout: default
title: CMCourse Book Chapters
---

<!-- masthead -->
<div class="masthead" id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Understanding Electronic Circuits and Circuit Design
          <p class="lead">&copy; 2015 CMCourse</p>
        </h1>
        <h5>(Draft, v0.6: Solely for Use by My Students)</h5>
      </div>
    </div>
  </div>
</div>

<!-- main content -->
<div class="container">

<div class="row">
  
  <!-- chapter index -->
  <div class="col-md-3">
    <div class="sidebar" role="complementary">
      <ul class="nav sidenav" data-spy="affix" data-offset-top="160">
        <li>
          <a href="#chapter1">Chapter-1 What is a Circuit?</a>
          <ul class="nav">
            <li><a href="#chapter1-purpose">The Purpose of Circuits</a></li>
            <li><a href="#chapter1-structure">The Structure of Electric Circuits</a></li>
            <li><a href="#chapter1-complexity">Complexity of Electric Circuits and Constraints</a></li>
            <li><a href="#chapter1-constraint">Constraint-Based Problems and Variables</a></li>
            <li><a href="#chapter1-circuits">Circuits as Constraint-Based Problems with Two Variables</a></li>
            <li><a href="#chapter1-definitions">Definitions for Voltage and Current</a></li>
            <li><a href="#chapter1-types">Types of Circuit Constraints</a></li>
            <li><a href="#chapter1-conclusion">Conclusion</a></li>
          </ul>
        </li>
        <li>
			<a href="#chapter2">Chapter-2 Circuit Element Constraints; 'Rule 1'</a>
            <ul class="nav">
              <li><a href="#chapter2-volt-constraint">Fixed Voltage Source Constraint, ('Source' Circuit Element)</a></li>
              <li><a href="#chapter2-element-conventions">Circuit Element Conventions</a></li>
              <li><a href="#chapter2-element-power">Power in Circuit Elements</a></li>
              <li><a href="#chapter2-element-resistor">The Resistor Element, (a 'Load' Type Circuit Element)</a></li>
              <li><a href="#chapter2-element-current">The Fixed Current Source, (a 'Source' Type Circuit Element)</a></li>
              <li><a href="#chapter2-element-constitutive">Element Constitutive (Constraint) Relations</a></li>
              <li><a href="#chapter2-element-conclusions">Conclusions</a></li>
			</ul>
        <li>
			<a href="#chapter3">Chapter-3 Circuit Connection Constraints; 'Rule 2'</a>
            <ul class="nav">
              <li><a href="#chapter3-KCL">Kirchoff's Current Law</a></li>
              <li><a href="#chapter3-KVL">Kirchoff's Voltage Law</a></li>
              <li><a href="#chapter3-power-law">Circuit Power Constraint</a></li>
              <li><a href="#chapter3-contradiction">Constraint Conflicts</a></li>
              <li><a href="#chapter3-conclusion">Conclusion</a></li>
			</ul>
        <li>
			<a href="#chapter4">Chapter-4 General and Node-Voltage Methods for Analyzing Circuits</a>
            <ul class="nav">
              <li><a href="#chapter4-general-soln">General Method of Solution</a></li>
              <li><a href="#chapter4-example-5elements">4.2 Numerical Example, 5-Element Circuit</a></li>
              <li><a href="#chapter4-node-method">The 'Node Voltage Method'</a></li>
              <li><a href="#chapter4-mesh-method">The 'Mesh Loop Method'</a></li>
			</ul>
        <li>
			<a href="#chapter5">Chapter-5 Special Circuit Topology Configurations</a>
            <ul class="nav">
              <li><a href="#chapter5-series-connection">Series Connection: Single-Loop Restriction</a></li>
              <li><a href="#chapter5-parallel-connection">Parallel Connection: Single-Node-Pair Restriction</a></li>
			</ul>
		</li>
      </ul>
    </div>
  </div> <!-- /chapter index -->
  
  <!-- book -->
  <div class="col-md-9">
    
    <!-- chapter 1 -->
    <div class="chapter">
      <h2 id="chapter1">Chapter 1: What is a Circuit?</h2>
      {% capture include_to_textilize1 %}
      {% include chapter1.textile %}
      {% endcapture %}
      {{ include_to_textilize1 | textilize }}
    </div>
    
    <!-- chapter 2 -->
    <div class="chapter">
      <h2 id="chapter2">Chapter 2: Circuit Element Constraints; 'Rule 1'</h2>
      {% capture include_to_textilize2 %}
      {% include chapter2.textile %}
      {% endcapture %}
      {{ include_to_textilize2 | textilize }}
    </div>
    
    <!-- chapter 3 -->
    <div class="chapter">
      <h2 id="chapter3">Chapter 3: Circuit Connection Constraints; 'Rule 2'</h2>
      {% capture include_to_textilize3 %}
      {% include chapter3.textile %}
      {% endcapture %}
      {{ include_to_textilize3 | textilize }}
    </div>
    
    <!-- chapter 4 -->
    <div class="chapter">
      <h2 id="chapter4">Chapter 4: General and Node-Voltage Methods for Analyzing Circuits</h2>
      {% capture include_to_textilize4 %}
      {% include chapter4.textile %}
      {% endcapture %}
      {{ include_to_textilize4 | textilize }}
    </div>
    
    <!-- chapter 5 -->
    <div class="chapter">
      <h2 id="chapter5">Chapter 5: Special Circuit Topologies</h2>
      {% capture include_to_textilize4 %}
      {% include chapter5.textile %}
      {% endcapture %}
      {{ include_to_textilize4 | textilize }}
    </div>  
  </div> <!-- /book -->

</div>
